.navbar-section{
    background-color: #212529;
}

.second-section-container{
    text-align: center;
}



.third-section-bg{
    background-color: #f8f9fa;
}

.our-team-section-container{
    background-color: #f8f9fa;
   
}

